{% extends 'default.html' %}

{% block content %}

{% include 'breadcrumb.html' %}

{# ##### Cart Area Start ##### #}
<section class="login-area section-padding-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content px-1">
                    <table class="table table-hover">
                        <thead>
                            <th class="text-left">Item</th>
                            <th>Qty</th>
                            <th>Unit</th>
                            <th>Total</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">Gucci Bag</td>
                                <td><input min="1" value="{{ qtyValue }}" type="number" id="itemQty"></td>
                                <td>2,000</td>
                                <td>{{ qtyValue * 2000  }}</td>
                                <td>
                                    <span onclick="" class="text-danger btn fa fa-trash"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">Gucci Bag</td>
                                <td><input min="1" value="{{ qtyValue }}" type="number" id="itemQty"></td>
                                <td>2,000</td>
                                <td>{{ qtyValue * 2000  }}</td>
                                <td>
                                    <span onclick="" class="text-danger btn fa fa-trash"></span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="2"> Grand Total</td>
                                <td colspan="2" class="text-primary">$ 2,000</td>
                            </tr>
                        </tfoot>
                    </table>

                    <a href="/checkout"><button class="btn btn-outline-primary mt-3">Proceed to Checkout</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
{# ##### Cart Area End ##### #}

{% endblock %}