{# Preloader #}
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{# ##### Header Area Start ##### #}
<header class="header-area">
    {# Navbar Area #}
    <div class="oneMusic-main-menu py-0">
        <div class="classy-nav-container py-0 breakpoint-off">
            <div class="container py-0 ">
                {# Menu #}
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    {# Nav brand #}
                    <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                    {# Navbar Toggler #}
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    {# Menu #}
                    <div class="classy-menu">

                        {# Close Button #}
                        
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        {# Nav Start #}
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="albums-store">Albums</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="albums-store">Albums</a></li>
                                        <li><a href="event">Events</a></li>
                                        <li><a href="blog">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="event">Events</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            {# Login/Register & Cart Button #}
                            <div class="login-register-cart-button d-flex align-items-center">
                                {# Login/Register #}

                                {% if user %}
                                    <div class="dropdown mr-50">
                                        <button class="py-1 btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            My Account
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" href="/profile">Profile</a>
                                            <a class="dropdown-item" href="/orders">Orders</a>
                                            <a class="dropdown-item" href="/logout">Logout</a>  
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="login-register-btn mr-50">
                                        <a href="login" id="loginBtn">Login / Register</a>
                                    </div>
                                {% endif %}
                
                                {# Cart Button #}
                                <div class="cart-btn">
                                    <a href="cart">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {# Nav End #}

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{# ##### Header Area End ##### #}