{% comment %} Preloader {% endcomment %}
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% comment %} ##### Header Area Start ##### {% endcomment %}
<header class="header-area">
    {% comment %} Navbar Area {% endcomment %}
    <div class="oneMusic-main-menu py-0">
        <div class="classy-nav-container py-0 breakpoint-off">
            <div class="container py-0 ">
                {% comment %} Menu {% endcomment %}
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    {% comment %} Nav brand {% endcomment %}
                    <a href="" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                    {% comment %} Navbar Toggler {% endcomment %}
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    {% comment %} Menu {% endcomment %}
                    <div class="classy-menu">

                        {% comment %} Close Button {% endcomment %}
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        {% comment %} Nav Start {% endcomment %}
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="albums-store">Albums</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="albums-store">Albums</a></li>
                                        <li><a href="event">Events</a></li>
                                        <li><a href="blog">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="event">Events</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            {% comment %} Login/Register & Cart Button {% endcomment %}
                            <div class="login-register-cart-button d-flex align-items-center">
                                {% comment %} Login/Register {% endcomment %}
                                <div class="login-register-btn mr-50">
                                    <a href="login" id="loginBtn">Login / Register</a>
                                </div>

                                {% comment %} Cart Button {% endcomment %}
                                <div class="cart-btn">
                                    <a href="cart">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% comment %} Nav End {% endcomment %}

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% comment %} ##### Header Area End ##### {% endcomment %}