{% extends 'default.njk' %}

{% block content %}

{% include 'breadcrumb.njk' %}

{# ##### Login Area Start ##### #}
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    {# Login Form #}
                    <div class="login-form">
                        <form action="/login" method="post">
                            {% if errors %}
                                {% for error in errors %}
                                    <div class="alert alert-danger py-1 my-1" role="alert">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group mt-4">
                                <label for="InputEmail">Email address</label>
                                <input value="{{ formData.email }}" name="email" type="email" class="form-control" id="InputEmail"
                                    aria-describedby="emailHelp" placeholder="Enter E-mail">
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll
                                    never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="InputPassword">Password</label>
                                <input required name="password" type="password" class="form-control" id="InputPassword"
                                    placeholder="Password">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            <div class="text-center mt-4">
                                <p>New to Dreamit? <a href="signup">Sign Up</a> now</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ##### Login Area End ##### #}

{% endblock %}